body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}

body {
    font-size:16px;
}
.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}
.w3-half img:hover{
    opacity:1
}
#mySidebar{
    z-index:3;
    width:300px;
    font-weight:bold;
}
.w3-button w3-hide-large w3-display-topleft{
    width:100%;
    font-size:22px;
}
#myOverlay{
    cursor:pointer;
}
.w3-main{
    margin-left:340px;
    margin-right:40px;
}
#showcase{
    margin-top:80px;
}
#modal01{
    padding-top:0;
}
#services{
    margin-top:75px;
}
.w3-display-topleft{
    width: 100%;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.w3-section{
    display: flex;
    justify-content: space-between;
}

#icon {
    font-size: 35px;
    margin: 0 10px;
    padding: 0 10px;
}

.w3-light-grey{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.users{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mySlides {
    display:none;
    width: 100%;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}