body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}

body {
    font-size:16px;
}
.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}
.w3-half img:hover{
    opacity:1
}
#mySidebar{
    z-index:3;
    width:300px;
    font-weight:bold;
}
.w3-button w3-hide-large w3-display-topleft{
    width:100%;
    font-size:22px;
}
#myOverlay{
    cursor:pointer;
}
.w3-main{
    margin-left:340px;
    margin-right:40px;
}
#showcase{
    margin-top:80px;
}
#modal01{
    padding-top:0;
}
#services{
    margin-top:75px;
}
.w3-display-topleft{
    width: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  border: none;
  transition: 0.5s ease;
  opacity: 1;
}

.next, .prev{
    background: teal;
    border: none;
    padding: 15px 15px;
    opacity: 0.3;
    margin: 5px 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#slide{
    max-width: 500px;
}